.wrapper {
	font-family: var(--font-main);
	font-variation-settings: "wght" var(--font-wght), "wdth" var(--font-wdth);
	font-size: var(--font-size);
	color: var(--text-color);
	margin-top: 30px;
}

.header,
.main section:not(.advantages),
.footer {
	width: 100%;
	max-inline-size: 1440px;
	margin: 0 auto;
	padding: 0px 20px;
}

.advantages__body {
	width: 100%;
	max-inline-size: 1440px;
	margin: 0 auto;
	padding: 0px 20px;
}

.header {
	min-block-size: 52px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 80px;
}

.header__nav ul {
	gap: 30px;
}

.header__logo {
	gap: 12px;
	align-items: center;
	text-transform: uppercase;
	--font-wght: 600;
	font-variation-settings: "wght" var(--font-wght), "wdth" var(--font-wdth);
}

.header__logo span {
	--font-size: 28px;
	font-size: var(--font-size);
	color: var(--logo-color);
}

.main {
	gap: 140px;
}

.button {
	text-transform: uppercase;
	border-radius: 50px;
	border: var(--border);
	color: var(--btn-color);
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.button-text-style {
	--font-size: 25px;
	font-size: var(--font-size);
	padding: 35px 0px;
}

.header__button {
	padding: 15px 40px;
	gap: 6px;
	border-radius: 30px;
}

.main__section {}

.title {
	text-transform: uppercase;
	--font-size: 94px;
	font-size: var(--font-size);
}

.title-icon {
	width: 73px;
	height: 73px;
}

.main__img {
	border-radius: 100px;
	margin-bottom: 10px;
}

.main__row {
	gap: 47px;
}

.main__button {
	width: 100%;
	max-width: 446px;
}

.main__text {
	--font-size: 100px;
	text-transform: uppercase;
	font-size: var(--font-size);
}

.second__title {
	--font-size: 64px;
	display: flex;
	flex-direction: column;
	font-size: var(--font-size);
	text-transform: uppercase;
}

.second-title__block {
	flex: 1 1 100%;
	display: flex;
	justify-content: center;
}

.second__title span {
	color: var(--btn-color);
}

.block-second__title {
	justify-content: start;
}

.block__name {
	flex: 1 0 auto;
	--font-size: 20px;
	--border: 1px solid var(--text-color);
	display: inline-flex;
	border-radius: 30px;
	align-self: start;
	padding: 10px 30px;
	text-transform: uppercase;
	font-size: var(--font-size);
	border: var(--border);
}

.block__name-white {
	--border: 1px solid white;
	border: var(--border);
}

.services__button {
	--font-size: 22px;
	font-size: var(--font-size);
	height: 220px;
	width: 220px;
	border-radius: 100%;
	background-color: var(--btn-color);
	color: var(--wh-color);
	margin-left: 58px;
}

.services {
	gap: 50px;
}

.services__button .pawsicon {
	--svg-fill: white;
}

.services__card figcaption {
	position: absolute;
	--font-size: 20px;
	font-size: var(--font-size);
	bottom: 40px;
	z-index: 10;
	margin-left: 30px;
	color: white;
	width: 100%;
	max-width: 261px;
}

.services__cards {
	position: relative;
	justify-content: start;
	gap: 20px;
}

.advantages {
	padding: 100px;
	color: var(--wh-color);
	background-color: var(--bg-block);
}

.advantages__title {
	display: inline;

}

.advantages__content {
	gap: 60px;
}

.advantages__img {
	flex: 1 1 50%;
}

.advantages__list {
	flex: 1 1 50%;
}

.advantages__title span {
	color: #F4DFC4;
}

.advantages__body {
	gap: 50px;
}

.advantages__list li {
	justify-content: start;
	border-bottom: 1px solid #F9FAFE;
	gap: 30px;
	padding: 30px 0px;
}

.advantages__list li:first-child {
	border-top: 1px solid #F9FAFE;
}

.text__block {
	gap: 16px;
}

.text__title {
	--font-size: 30px;
	font-size: var(--font-size);
	text-transform: uppercase;
}
